.view {
  position: absolute;
}

.view.ng-enter {
  animation: slideLeft 0.5s linear;
  -webkit-animation: slideLeft 0.5s linear;
}

.view.ng-leave {
  animation: slideOut 0.5s linear;
  -webkit-animation: slideOut 0.5s linear;
}

@keyframes slideOut {
  from { left:0%; }
  to { left:100%; }
}

@-webkit-keyframes slideOut {
  from { right:0%; }
  to { right:100%; }
}

@keyframes slideLeft {
  from { left:100%; }
  to { left:0%; }
}

@-webkit-keyframes slideLeft {
  from { left:100%; }
  to { left:0%; }
}