.serverMessage {
	padding: 16px 0px;
	background: #FF5252;
	color: white;
	text-align: center;

}

kusema-server-message {
	display: block;
}

kusema-server-message.antiPad {
	margin-left: -8px;
	margin-right: -8px;
}