#hamburger {
	color: #fff;
	padding: 9px 11px;
	width: 50px;
	height: 50px;
	position: fixed;
	top: 0px;
	right: 0px;
	cursor: pointer;
	transition-property: right;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#hamburger.open {
	right: 150px;
	transition-property: right;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

app-menu {
	padding: 10px;
	position: fixed;
	top: 0;
	right: 0;
	width: 150px;
}

app-menu a {
	text-decoration: none;
	color: #fff;
}