<md-menu-item><md-button ng-click="c.loginMonash()">Login with Authcate</md-button></md-menu-item>
<md-menu-divider></md-menu-divider>
<form style="padding: 0.5em">
<kusema-server-message
	message="c.loginMessage"
	class="antiPad"
	></kusema-server-message>
<md-input-container>
	<label>Username</label>
	<input name="username" ng-model="c.data.displayName"/>
</md-input-container>
<md-input-container>
	<label>Password</label>
	<input type="password" name="password" ng-model="c.data.password"/>
</md-input-container>

<div
	style="display: flex; flex-direction: row;"
	ng-show="c.loginData.loginState == 0"
	>
	<md-menu-item><md-button type="submit" id="loginButton" md-menu-disable-close>Login Local</md-button></md-menu-item>
	<md-menu-item><md-button type="submit" ng-click="c.register()">Register Local</md-button></md-menu-item>
</div>

<md-menu-item
	ng-show="c.loginData.loginState < 0"
	>
	<md-button disabled type="button">Wait...</md-button>
</md-menu-item>
</form>