<md-menu>
	<md-button aria-label="Settings" ng-click="c.openMenu($mdOpenMenu, $event)">
		<span
			ng-if="c.loginData.loginState == 1"
			ng-bind="c.loginData.user.displayName"
			style="text-transform: none"></span>
		<span ng-if="c.loginData.loginState == 0">Not logged in</span>
		<span ng-if="c.loginData.loginState == -1">Logging in...</span>
		<span ng-if="c.loginData.loginState == -2">Logging out...</span>
		<md-icon md-font-library="material-icons">account_circle</md-icon>
	</md-button>
	<md-menu-content class="userMenuContent" width="4" style="overflow-x: hidden;">
			<kusema-user-menu-logged-in
				ng-show="c.loginData.loginState == 1"
			></kusema-user-menu-logged-in>

			<kusema-user-menu-not-logged-in
				ng-show="c.loginData.loginState < 1"
			></kusema-user-menu-not-logged-in>
	</md-menu-content>
</md-menu>