<md-menu>
	<md-button aria-label="Settings" ng-click="c.openMenu($mdOpenMenu, $event)">
		<span
			ng-if="c.loginData.loginState == 1"
			ng-bind="c.loginData.user.username"
			style="text-transform: none"></span>
		<span ng-if="c.loginData.loginState == 0">Not logged in</span>
		<span ng-if="c.loginData.loginState == -1">Logging in...</span>
		<span ng-if="c.loginData.loginState == -2">Logging out...</span>
		<md-icon md-font-library="material-icons">account_circle</md-icon>
	</md-button>
	<md-menu-content width="4">
			<kusema-user-menu-logged-in
				ng-if="c.loginData.loginState == 1"
			></kusema-user-menu-logged-in>
			<kusema-user-menu-not-logged-in
				ng-if="c.loginData.loginState == 0"
			></kusema-user-menu-not-logged-in>
			<md-menu-item ng-if="c.loginData.loginState < 0"><md-button>Wait...</md-button></md-menu-item>
	</md-menu-content>
</md-menu>


<template id="monashLoginDialog">
<md-bottom-sheet style="position: fixed; min-height: 80%; display: flex;">
<iframe src="/account/login_monash" style="flex: 1"></iframe>
</md-bottom-sheet>
</template>
