<md-menu>
	<md-button aria-label="Settings" ng-click="c.openMenu($mdOpenMenu, $event)">
		<ng-switch on="loggedIn">
			<span ng-switch-when="true">Logged in as {{c.user}}</span>
			<span ng-switch-default>Not logged in</span>
		</ng-switch>
		<md-icon md-font-library="material-icons">account_circle</md-icon>
	</md-button>
	<md-menu-content width="4">
		<ng-switch on="loggedIn">
			<kusema-user-menu-logged-in ng-switch-when="true"></kusema-user-menu-logged-in>
			<kusema-user-menu-not-logged-in ng-switch-default></kusema-user-menu-not-logged-in>
	</md-menu-content>
</md-menu>