<app-menu></app-menu>

<div id="main-panel">

	<div class="header">
		<div class="container">
			<div class="page-header">
				<h1><a href="#/">kusema</a>&nbsp;<small>alpha v0.0.1</small></h1>
				<br> Engineering
			</div>
		</div>
	</div>

	<div id="hamburger"><i class="fa fa-bars fa-2x"></i></div>

	<div class="page">

	<div class="page-content">

		<div>
			<form id="tmp-register-form" action="/account/register" method="post">
		    	<input type="text" name="username" style="background-color: #eee;">
		    	<input type="password" name="password" style="background-color: #eee;">
		    	<input type="submit" value="register">
			</form>
		</div>

		<br>

		<div>
			<form id="tmp-login-form" action="/account/login" method="post">
		    	<input type="text" name="username" style="background-color: #eee;">
		    	<input type="password" name="password" style="background-color: #eee;">
		    	<input type="submit" value="login">
			</form>
		</div>

		<div class="card" ng-repeat="question in questions.questionList | orderBy:'-upVotes'">
			<div class="score">
				<img src="../images/upvote.png" ng-click="upVote(question._id)"><br>
				{{ question.upVotes - question.downVotes }}<br>
				<img src="../images/dnvote.png" ng-click="dnVote(question._id)">
			</div>
			<div class="title">
				<a href="#/question/{{question._id}}">{{ question.title }}</a>
			</div>
			<div class="author">
				{{ question.author }}
			</div>
			<br>
			<br>
			<div ng-click="deleteQuestion(question._id)" class="button" style="display:none;">
				delete
			</div>
		</div>

		<div id="circleG">
			<div id="circleG_1" class="circleG"></div>
			<div id="circleG_2" class="circleG"></div>
			<div id="circleG_3" class="circleG"></div>
		</div>

	</div>


	<!-- TODO make this a directive -->
	<div ng-controller="NewQuestionCtrl">
			<div id="add-button" class="contribute ask">
				<div id="cross"></div>
			</div>
		<div class="writer">
			<div class="container">
				<div class="input-box-container">

					<input name="title" ng-model="newPost.title" placeholder="title">
					<input name="author" ng-model="newPost.author" placeholder="posted by">
					<textarea ng-model="newPost.message" placeholder="question"></textarea>
				</div>
				<div ng-click="addQuestion()" class="button send-button">
					post
				</div>
			</div>
		</div>	
	</div>

</div>
