<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

  <md-toolbar class="md-default-theme">
    <h1 class="md-toolbar-tools">groups</h1>
  </md-toolbar>

  <md-content layout-padding>
  <ng-include src="'views/login.html'"></ng-include>
    Unit 1<br>
    Unit 2<br>
    Unit 3<br>
    Unit 4<br>
    Unit 5<br>
    Unit 6<br>
    Unit 7<br>
  </md-content>

</md-sidenav>

<div layout="column" flex >

  <md-toolbar layout="row">
    <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
      <span class="visually-hidden"></span>
    </button>
    <h1 class="md-toolbar-tools" layout-align-gt-sm="right">Kusema</h1>
  </md-toolbar>

  <md-content layout="column" class="md-padding" style="width: 100%;">
    
      <div ng-controller="QuestionListController as qlc">
        <div ng-repeat="question in questions.questionsList">
        <md-card>
          {{ question | json }}
          <img src="{{ question.imageUrl }}" class="md-card-image" alt="image">
          <video ng-src="{{ question.videoUrl }}" width="200px" controls></video>
          <md-card-content>
            <h2 class="md-title"><a href="#/question/{{ question._id }}">{{ question.title }}</a></h2>
            <p>
              {{ question.message }}
            </p>
            <div>{{ question.author }}</div>
           </md-card-content>
        </md-card>
        </div>
      </div>  
  </md-content>



</div>

<md-button class="md-fab" aria-label="Ask question" style="position: fixed; bottom: 40px; right: 40px;">
  <md-icon md-font-library="material-icons">add</md-icon>
</md-button>