<app-menu></app-menu>

<div id="main-panel">

	<!-- Header -->
	<div class="header">
		<div class="container">
			<div class="page-header">
				<h1><a href="#/">kusema</a>&nbsp;<small>alpha v0.0.1</small></h1>
				<br> Engineering
			</div>
			<ng-include src="'views/login.html'"></ng-include>
		</div>
	</div>

	<div id="hamburger"><i class="fa fa-bars fa-2x"></i></div>

	<div class="page">
		<div class="page-content">
				
			<div id="questionList" ng-controller="QuestionListController as qc">
				<!-- Question Listing -->
				<div class="row card" ng-repeat="question in qc.questions.questionsList">
					<div class="score">
						<img class="upvote" src="../images/upvote.png" ng-click="question.upVote()">
						<br/>
							{{ question.score }}
						<br/> 
						<img class="downvote" src="../images/dnvote.png" ng-click="question.downVote()">
					</div>
					<div class="title">
						<a href="#/question/{{question._id}}">{{ question.title }}</a>
					</div>
					<div class="author">{{ question.author }}</div>
					<br> <br>
					<div ng-click="questionCtrl.deleteQuestion(question._id)" class="button btn-danger">delete</div>
				</div>
				
				<div id="loadingImage" ng-include="'views/loadingImage.html'"></div>
		
				<!-- New Question -->
				<div ng-show="qc.writerOpen === true" class="row card">
					<div class="col-sm-2">
						<div ng-hide="newPost.title===''"><strong>Title: </strong></div>
						<div ng-hide="newPost.author===''"><strong>Author: </strong></div>
						<div ng-hide="newPost.message===''"><strong>Question: </strong></div>
					</div>
					<div class="col-sm-10">
						<div ng-hide="newPost.title===''">{{ newPost.title }}</div>
						<div ng-hide="newPost.author===''">{{ newPost.author }}</div>
						<div ng-hide="newPost.message===''">{{ newPost.message }}</div>
					</div>
				</div>
				

				<div class="writer" ng-class="{writerOpen: qc.writerOpen}">
					<div class="contribute-container">
						<div id="add-button" class="contribute ask" ng-click="qc.toggleWriter()">
							<div id="cross" ng-class="{writerOpen: qc.writerOpen}"></div>
						</div>
					</div>
					<div class="container">
						<div class="input-box-container" ng-init="newPost.title = ''; newPost.author = ''; newPost.message = ''">
							<input name="title" ng-model="newPost.title" placeholder="title">
							<input name="author" ng-model="newPost.author" placeholder="posted by">
							<textarea ng-model="newPost.message" placeholder="question"></textarea>
						</div>
						<div ng-click="qc.addQuestion(newPost)" class="button send-button">
							post
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
