<div ng-controller="newCommentController" layout="column">
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools" title="Question Id: {{questionId}}">
      New Comment
    </h1>
  </md-toolbar>
  <md-content layout-padding>
    <form name="newCommentForm">
		<md-input-container>
	        <label>Author</label>
	        <input disabled name="author" title="Author" ng-model="inputData.author" md-maxlength="10" minlength="4">
	        <div ng-messages="newCommentForm.author.$error" ng-show="newCommentForm.author.$dirty && newCommentForm.author.$error">
				<div ng-show="newCommentForm.author.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newCommentForm.author.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<md-input-container>
		    <label>Message</label>
		    <textarea name="message" title="Message" ng-model="inputData.message" required md-maxlength="150" minlength="4"></textarea>
	        <div ng-messages="newCommentForm.message.$error" ng-show="newCommentForm.message.$dirty && newCommentForm.message.$error">
				<div ng-show="newCommentForm.message.$error.required === true" ng-message="required">This is required!</div>
				<div ng-show="newCommentForm.message.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newCommentForm.message.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<md-input-container>
	        <label>Image Url</label>
	        <input disabled name="imageUrl" title="Image Url" ng-model="inputData.imageUrl" md-maxlength="100" minlength="4">
	        <div ng-messages="newCommentForm.imageUrl.$error" ng-show="newCommentForm.imageUrl.$dirty && newCommentForm.imageUrl.$error">
				<div ng-show="newCommentForm.imageUrl.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newCommentForm.imageUrl.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<md-input-container>
	        <label>Video Url</label>
	        <input disabled name="videoUrl" title="Video Url" ng-model="inputData.videoUrl" md-maxlength="100" minlength="4">
	        <div ng-messages="newCommentForm.videoUrl.$error" ng-show="newCommentForm.videoUrl.$dirty && newCommentForm.videoUrl.$error">
				<div ng-show="newCommentForm.videoUrl.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newCommentForm.videoUrl.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<!-- Buttons -->
		<md-button ng-click="addComment(inputData)" class="md-raised md-primary" title="Submit">Submit</md-button>
		<a href="javascript:self.close();"><md-button class="md-raised" title="Cancel">Cancel</md-button></a>
		
    </form>
  </md-content>
</div>