<div ng-controller="newQuestionController" layout="column">
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">
      New Question
    </h1>
  </md-toolbar>
  <md-content layout-padding>
    <form name="newQuestionForm">
		<md-input-container>
	        <label>Title</label>
	        <input required name="title" title="Title" ng-model="inputData.title" md-maxlength="10" minlength="4">
	        <div ng-messages="newQuestionForm.title.$error" ng-show="newQuestionForm.title.$dirty && newQuestionForm.title.$error">
				<div ng-show="newQuestionForm.title.$error.required === true" ng-message="required">This is required!</div>
				<div ng-show="newQuestionForm.title.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newQuestionForm.title.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<md-input-container>
	        <label>Author</label>
	        <input name="author" title="Author" ng-model="inputData.author" md-maxlength="10" minlength="4">
	        <div ng-messages="newQuestionForm.author.$error" ng-show="newQuestionForm.author.$dirty && newQuestionForm.author.$error">
				<div ng-show="newQuestionForm.author.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newQuestionForm.author.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<md-input-container>
		    <label>Message</label>
		    <textarea name="message" title="Message" ng-model="inputData.message" required md-maxlength="150" minlength="4"></textarea>
	        <div ng-messages="newQuestionForm.message.$error" ng-show="newQuestionForm.message.$dirty && newQuestionForm.message.$error">
				<div ng-show="newQuestionForm.message.$error.required === true" ng-message="required">This is required!</div>
				<div ng-show="newQuestionForm.message.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newQuestionForm.message.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<md-input-container>
	        <label>Image Url</label>
	        <input name="imageUrl" title="Image Url" ng-model="inputData.imageUrl" md-maxlength="100" minlength="4">
	        <div ng-messages="newQuestionForm.imageUrl.$error" ng-show="newQuestionForm.imageUrl.$dirty && newQuestionForm.imageUrl.$error">
				<div ng-show="newQuestionForm.imageUrl.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newQuestionForm.imageUrl.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<md-input-container>
	        <label>Video Url</label>
	        <input name="videoUrl" title="Video Url" ng-model="inputData.videoUrl" md-maxlength="100" minlength="4">
	        <div ng-messages="newQuestionForm.videoUrl.$error" ng-show="newQuestionForm.videoUrl.$dirty && newQuestionForm.videoUrl.$error">
				<div ng-show="newQuestionForm.videoUrl.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newQuestionForm.videoUrl.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<!-- Buttons -->
		<md-button ng-click="addQuestion(inputData)" class="md-raised md-primary" title="Submit">Submit</md-button>
		<a href="javascript:self.close();"><md-button class="md-raised" title="Cancel">Cancel</md-button></a>
		
    </form>
  </md-content>
</div>