<div ng-controller="newUnitController" layout="column">
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">
      New Unit
    </h1>
  </md-toolbar>
  <md-content layout-padding>
    <form name="newUnitForm">
		<md-input-container>
	        <label>Title</label>
	        <input required name="title" title="Title" ng-model="inputData.title" md-maxlength="50" minlength="4">
	        <div ng-messages="newUnitForm.title.$error" ng-show="newUnitForm.title.$dirty && newUnitForm.title.$error">
				<div ng-show="newUnitForm.title.$error.required === true" ng-message="required">This is required!</div>
				<div ng-show="newUnitForm.title.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newUnitForm.title.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<md-input-container>
	        <label>Code</label>
	        <input name="code" title="Code" ng-model="inputData.code" md-maxlength="10" minlength="4">
	        <div ng-messages="newUnitForm.code.$error" ng-show="newUnitForm.code.$dirty && newUnitForm.code.$error">
				<div ng-show="newUnitForm.code.$error['md-maxlength'] === true" ng-message="md-maxlength">That's too long!</div>
				<div ng-show="newUnitForm.code.$error.minlength === true" ng-message="minlength">That's too short!</div>
	        </div>
		</md-input-container>
		<!-- Buttons -->
		<md-button ng-click="addUnit(inputData)" class="md-raised md-primary" title="Submit">Submit</md-button>
		<a href="javascript:self.close();"><md-button class="md-raised" title="Cancel">Cancel</md-button></a>
		
    </form>
  </md-content>
</div>