<app-menu></app-menu>

<div id="main-panel">
	<!-- Header -->
	<div class="header">
		<div class="container">
			<div class="page-header">
				<h1><a href="#/">kusema</a>&nbsp;<small>alpha v0.0.1</small></h1>
				<br> Engineering
			</div>
		</div>
	</div>
	
	<div id="hamburger"><i class="fa fa-bars fa-2x"></i></div>

	<div class="page">
		<div class="page-content">
			<!-- NEW -->
			<div ng-controller="QuestionController as QuestionCtrl" class="card" id="question-container">
				<div class="score">{{ QuestionCtrl.question.score }}</div>
				<div class="title">{{ QuestionCtrl.question.title }}</div>
				<div class="author">{{ QuestionCtrl.question.author }}</div>
				<div class="comment">{{ QuestionCtrl.question.message }}</div>
				
				<br>				
				<div ng-hide="QuestionCtrl.questionEditorOpen" 
						ng-click="QuestionCtrl.toggleEditor()" 
						class="btn btn-success">
						Edit
				</div>
				
				<div ng-show="QuestionCtrl.questionEditorOpen" id="questionEditor">
					<br> 
					<div class="form-group form-group-sm input-group">
						<label class="input-group-addon ng-pristine ng-valid">Topic: </label>
						<input ng-model="QuestionCtrl.editingQuestion.title" class="form-control input-sm ng-valid ng-dirty" type="text">
					</div>
					<br>
					<div class="form-group form-group-sm input-group">
						<label class="input-group-addon ng-pristine ng-valid">Content: </label>
						<textarea ng-model="QuestionCtrl.editingQuestion.message" class="form-control input-sm ng-valid" type="text"></textarea>
					</div>
					<div ng-click="QuestionCtrl.editQuestion()" 
						ng-class="{disabled: QuestionCtrl.questionEditorSubmitted}" 
						class="btn btn-success">
						Save
					</div>
				</div>
			</div>
			
			<div ng-controller="CommentController as CommentCtrl" id="comment-container">
				<div ng-repeat="comment in CommentCtrl.comments | orderBy:dateCreated" class="card">
					<strong>{{ comment.author }}:</strong>
					{{ comment.message }}
					<br>
					<div ng-click="comment.delete()" class="btn btn-default" >delete</div>
				</div>
				
				<div class="spacer"></div>
			
			
				<div class="writer" ng-class="{writerOpen: CommentCtrl.commentFormOpen}">
					<div id="add-button" class="contribute reply" ng-click="CommentCtrl.toggleWriter()">
						<div id="cross" ng-class="{writerOpen: qc.writerOpen}"></div>
					</div>
					<div class="container">
						{{QuestionController.question | json}}
						<div class="input-box-container">
							<textarea ng-model="CommentCtrl.newComment.message" class="reply-box" placeholder="reply here"></textarea>
						</div>
						<div ng-click="CommentCtrl.addComment()" class="button send-button">send</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>