<md-card ng-switch on="c.mode">
	<md-card-content ng-switch-when="view">
	  <h2 class="md-title" ng-bind="c.content.title"></h2>
	  <div>
	  	<span class="username">{{c.content.author.username}}:</span>
	  	<span ng-bind="c.content.message"></span>
  	  </div>
	</md-card-content>
	<md-card-content ng-switch-when="edit">
	  <kusema-edit-content-form
	  	action="edit"
	  	on-cancel="c.finishEditingContent()"
	  	on-submit="c.editingSubmitted(newContent)"
	  	content="c.content"
	  ></kusema-edit-content-form>
	</md-card-content>
	<md-card-content ng-switch-when="create">
	  <kusema-edit-content-form
	  	action="create"
	  	on-cancel="c.finishCreatingContent()"
	  	on-submit="c.creatingSubmitted(newContent)"
	  	content="c.content"
	  ></kusema-edit-content-form>
	</md-card-content>
	<md-card-content ng-switch-default>
	  BAD!
	</md-card-content>
	<md-card-footer>
		<div class="footer-contents">
	Posted on <kusema-inline-date date="c.content.dateCreated"></kusema-inline-date>
		</div>
		<md-button class="md-icon-button" kusema-needs-login needs-user="c.content.author" ng-click="c.editContent()">
			<md-icon md-font-set="material-icons">edit</md-icon>
		</md-button>
	</md-card-footer>
</md-card>
<div class="comments-container md-whiteframe-z1" ng-if="c.content.comments">
	<div class="comment" ng-repeat="comment in c.content.comments">
		<span class="username">{{comment.author.username}}:</span>
		<span class="message">{{comment.message}}</span>
	</div>
	<div class="addCommentContainer" kusema-needs-login>
		<div class="md-actions" layout="row" layout-align="center" ng-hide="c.writingComment">
			<md-button ng-click="c.writeComment()" >Comment on This</md-button>
		</div>
		<form class="commentForm" ng-show="c.writingComment">
			<span class="username">{{c.loginData.user.username}}:</span>
			<md-input-container>
				<label>Comment</label>
				<textarea name="comment" ng-model="c.newComment"></textarea>
			</md-input-container>
			<md-button class="md-icon-button" type="submit" ng-click="c.postComment()">
				<md-icon md-font-set="material-icons">publish</md-icon>
			</md-button>
			<md-button class="md-icon-button" type="reset" ng-click="c.cancelComment()">
				<md-icon md-font-set="material-icons">clear</md-icon>
			</md-button>
		</form>


	</div>
</div>