<md-card ng-switch on="c.mode">

	<md-card-content ng-switch-when="view">
	  <h2 class="md-title" ng-bind="c.content.title"></h2>
	  <div>
	  	<span class="usernameFloat" ng-bind="c.content.author.username"></span>
	  	<span><kusema-markdown input="c.content.message"></kusema-markdown></span>
  	  </div>
	</md-card-content>

	<md-card-content ng-switch-when="edit">
	  <kusema-edit-content-form
	  	action="edit"
	  	on-cancel="c.finishEditingContent()"
	  	on-submit="c.editingSubmitted(newContent)"
	  	content="c.content"
	  ></kusema-edit-content-form>
	</md-card-content>

	<md-card-content ng-switch-when="create">
	  <kusema-edit-content-form
	  	action="create"
	  	on-cancel="c.finishCreatingContent()"
	  	on-submit="c.creatingSubmitted(newContent)"
	  	content="c.content"
	  	content-type="{{contentType}}"
	  ></kusema-edit-content-form>
	</md-card-content>

	<md-card-content ng-switch-default>
	  BAD!
	</md-card-content>
	
	<md-card-footer>
		<div class="footer-contents">
			Posted on <kusema-inline-date date="c.content.dateCreated"></kusema-inline-date>
			<span ng-if="c.content.name == 'Question'">
				, in <kusema-inline-group group="c.content.group"></kusema-inline-group>.
			</span>
			<md-chips ng-model="c.content.topics" readonly="true">
				<md-chip-template>
					{{$chip.name}}
				</md-chip-template>
			</md-chips>
		</div>
		<md-button class="md-icon-button" kusema-needs-login needs-user="c.content.author" ng-click="c.editContent()">
			<md-icon md-font-set="material-icons">edit</md-icon>
		</md-button>
	</md-card-footer>
</md-card>


<div class="comments-container md-whiteframe-z1" ng-if="c.content.comments">
	<kusema-content-card-comment
		class="comment"
		ng-repeat="comment in c.content.comments"
		comment="comment">
	</kusema-content-card-comment>
	<kusema-content-card-comment
		ng-show="c.writingComment"
		class="comment"
		mode="create"
		parent-id = "c.content._id"
		on-finished-editing="c.finishedWritingComment()">
	</kusema-content-card-comment>
	<div class="addCommentContainer" kusema-needs-login>
		<div class="md-actions" layout="row" layout-align="center" ng-hide="c.writingComment">
			<md-button ng-click="c.writeComment()" >Comment on This</md-button>
		</div>
	</div>
</div>